# Discord Bot Token
DISCORD_TOKEN=seu_token_real_aqui

# Roles IDs
ID_DO_CARGO_BATE_PAPO=123456789
ID_DO_CARGO_CINE_AMONG=123456789
ID_DO_CARGO_TACA_AMONG=123456789
ID_DO_CARGO_HOME_OFFICE=123456789
ID_DO_CARGO_PROGRAMACAO_COMPETITIVA=123456789

# Message Roles
WELCOME_MESSAGE_ID=123456789
